name: Laravel Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: codificacao

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v4
        with:
          php-version: '8.2'

      - name: Instalar dependências
        run: composer install --no-dev --optimize-autoloader --no-interaction

      - name: Cache do Laravel
        run: |
          php artisan key:generate
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build frontend
        run: |
          npm install
          npm run build

      # Salva o resultado da "compilação"
      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: laravel-build
          path: codificacao
